.section {
  width: 100%;
  height: 3.375rem;
  margin-top: -1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem;
  gap: 0.5rem;
}

.section input {
  max-width: 39.875rem;
  width: 100%;
  height: 3.375rem;
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
  color: var(--gray-100);
}

.section button {
  width: 5.625rem;
  height: 3.25rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  cursor: pointer;
  border: none;
  font-size: 0.875rem;
}

.section input::placeholder {
  color: var(--gray-300);
}

.section button:hover {
  background: var(--blue);
}

.info {
  font-size: 0.75rem;
  color: #777;
  margin-top: 0.25rem;
  position: absolute;
  bottom: -1rem; /* Ajuste para posicionar abaixo do input */
  left: 50%;
  transform: translateX(-50%);
}