.container {
  display: flex;
  position: relative;
  user-select: none;
  cursor: pointer;
  font-size: 0.875rem;
  align-items: center;

}

.container input {
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
}

.checkmark {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  background: transparent;
  border: 0.125rem solid var(--blue);
  border-radius: 50%;
}

.container:hover input ~ .checkmark {
  background-color: var(--blue-dark-check);
  border: 0.125rem solid var(--blue-dark);
}

.container input:checked ~ .checkmark {
  background-color: var(--purple-dark);
  border: solid var(--purple-dark);
}

.container input:checked ~ .checkmark:hover {
  background-color: var(--purple);
  border: solid var(--purple);
}

.container .checkmark:after {
  width: 0.21875rem;
  height: 0.5rem;
  content: "";
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  border: solid var(--gray-100);
  border-width: 0 0.125rem 0.125rem 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg); ;
  transition: all 0.2s ease; 
}

.container input:checked ~ .checkmark:after {
  display: block;
}